html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.centered-for-demo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  height: 100%;
}