.slider-wrapper {
  overflow:hidden;
}

.slider {
  height:60px;
  display:flex;
  align-items:center;
}

.slider-header {
  width:calc(100% / 4);
  text-align:center;
  font-weight:600;
  cursor:pointer;
}

.slider-item {
  &--active {
    color: var(--blue900);
    height: 30px;
  }
}

.slider-indicator {
  position: relative;
  height: 5px;
  background: var(--blue900);
  left: 0;
  transition:all 500ms ease-in-out;
}